<!DOCTYPE html>
<html>
  <head>
  <link rel="icon" type="image/png" href="dhfavicon.png" />
    <meta charset="UTF-8">
    <title>Deric Hamer</title>
    <!-- The style.css file allows you to change the look of your web pages.
         If you include the next line in all your web pages, they will all share the same look.
         This makes it easier to make new pages for your site. -->
    <link href="/styles3.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
  <br>
  <h1></h1>
      <p></p>
  <br>
 <img src="006/scaffolding_1.png">
      <p></p>
 <br>
 <img src="006/GuamMan.png">
      <p></p>
 <br>
 <img src="006/goddess.png">
      <p></p>
 <br>
 <img src="006/aunti.png">
      <p></p>
 <br>
 <img src="006/tevin.png">
      <p></p>
 <br>
 <br>
 <br>
  </body>
</html>